<p>
    Turns Left: <%= @tally.turns_left %>
</p>

<p>
    Word so far: <%= format_letters(@tally.letters) %>
</p>

<p>
    Used Letters: <%= format_used_letters(@tally.letters_used) %>
</p>
<%= if game_over?(@tally) do %>
    <%= new_game_button(@conn) %>
<% else %>
    <%= form_for(@conn, Routes.hangman_path(@conn, :make_move), [as: :make_move, method: :put], fn f -> %>
        <%= text_input(f, :guess) %> 
        <%= submit("Make Move") %> 
    <% end) %>
<% end %>